*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:#515656;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}
.box{
    background-color: white;
    /* border: 2px solid yellow; */
    width: 250px;
    height: 350px;
    margin: 15vh auto;
    border-radius: 8px;
}
.box h1 {
    text-align: center;
    padding: 8px;
}

.pass {
    /* padding: 15px; */
    margin: 20px 0 0 30px;
}
.box input{
    margin: 8px 0 0 30px;
    padding: 3px;
    border-radius: 5px;
}
p.Already {
    margin:    10px 0 0 48px;
    cursor: pointer;
  
}
p.login{
    margin: 2px 0 0 90px;
    cursor: pointer;
}
p.signup{
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    margin: 20px 33px;
    padding: 2px;
    background-color: blueviolet;
    color: white;
    cursor: pointer;
    margin-bottom: 5px;
}
