*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #515656;
    
}
.content{
    width: 220px;
    margin: auto;
    text-align: center;
    /* height:; */
    margin-top: 20vh;
   
    border: 2px solid red;
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
}
