*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:#515656;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}
.box{
    background-color: white;
    /* border: 2px solid yellow; */
    width: 250px;
    height: 350px;
    margin: 15vh auto;
    border-radius: 8px;
}
